@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


:root {
    --blue: rgb(30, 184, 231);
    --white: rgb(187, 187, 187);

    --heading-font: "Indie Flower", cursive;


}

.indie-flower-regular {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
  }

h1, h2 {
    font-family: var(--heading-font)
    
}