@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

:root {
/* CSS HEX */
    --phthalo-blue: #020887ff;
    --marian-blue: #334195ff;
    --glaucous: #647aa3ff;
    --ash-gray: #95b2b0ff;
    --tea-green: #c6ebbeff;

    --heading-font: 'ubuntu', serif;
    --paragraph-font: 'ubuntu', serif;

    --nav-backround-color:#020887
    --nav-link-color:#334195
    --nav-hover-link-color: #286870
    --nav-hover-backround-color:#95b2b0
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--accent1-color)
}

header {
    padding: 20px;
    background-color: aqua;
}

p {
    padding: 25px;
}

nav {
    background-color: aquamarine;
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-backround-color);
}